* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #3B4049;
  }
  .wrapper {
    height: 730px;
    width: 550px;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 0;
  }
  
.letter {
    position: absolute;
    top: 0;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 15px;
    z-index: 2;
    transition: 0.5s;
  }

  .letter p {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    color: #3B4049;
  }