
  :root {
    --color-black-primary: #2a2438; /* Black */
    --color-black-secondary: #3B4049; /* Dark grey */
    --color-black-tertiary: #5C5F6F; /* Light grey */
    --color-black-quaternary: #8F919F; /* Lighter grey */
    
    --color-gold-primary: #F2C94C; /* Gold */
    --color-gold-secondary: #F2994A; /* Orange */
    --color-gold-tertiary: #F2C94C; /* Yellow */
    --color-gold-quaternary: #F2C94C; /* Yellow */

    --color-white-primary: #FFFFFF; /* White */
    --color-white-secondary: #FFFFFF; /* White */
    --color-white-tertiary: #FFFFFF; /* White */
    --color-white-quaternary: #FFFFFF; /* White */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: var(--color-white-primary);
  }
  
  .wrapper {
    height: 600px;
    width: 400px;
    background-color: var(--color-white-primary);
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 0;
  }
  
  .letter {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black-secondary);
    border-radius: 1px;
    z-index: 2;
    transition: 0.5s;
  }
  
  .letter p {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    color: var(--color-gold-primary);
  }
  
  .wrapper:hover .lid.one {
      transform: rotateX(90deg);
      transition-delay: 0s;
  }
  
  .wrapper:hover .lid.two {
      transform: rotateX(180deg);
      transition-delay: 0.25s;
  }
  
  .wrapper:hover .letter {
    transform: translateY(-50px);
    transition-delay: 0.5s;
  }
  